<section class="btn-group">
    <table>
        <tr>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
        </tr>
        <tr>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
        </tr>
        <tr>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
            <td><button>edit</button></td>
        </tr>
    </table>
</section>