.orderSummary {
    height: 500px;
    width: 300px;
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.bottomLeft {

}

.bottomRight {
    
}